<!DOCTYPE html>
<html lang="en">

<%- include("./partials/Head") %>

<body>

  <%- include("./partials/Header") %>

 <%- include("./partials/Video") %>

  <%- include("./partials/Quote") %>

  <%- include("./partials/Footer") %>

  <%- include("./partials/Copyright") %>

<%- include("./partials/Scripts") %>

</body>


</html>